html {
    font-family: Arial, sans-serif;
    font-size: small;
}

div#google {
    margin: 50px 150px 40px;
    min-width: 600px;
    background-color: white;
    padding: 150px 0 20px;
}

img {
    display: block;
    height: 92;
    width: 272;
    margin: 0 auto;
}

input[type=text] {
    display: block;
    height: 30px;
    background-color: white;
    background-position: 10px 10px;
    border: 1px solid rgb(223, 223, 223);
    margin: 20px 80px 10px; 
    border-radius: 30px;
    padding: 6px;
    padding-left: 20px;
}

input[type=text]:hover {
    border: 1px solid white;
    box-shadow: 0 1px 2px rgb(201, 201, 201), 1px 1px 5px rgb(196, 241, 196);
}

div.buttons {
/*    display: block;*/
    margin: 10px 40px 20px 190px;
    
}

input[type=submit] {
    background-color: #f8f8f8;
    width: 130px;
    height: 40px;
    line-height: 27px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: #f8f8f8;
    border: 1px solid lightgrey;
}